body{
    font-family: InterVariable, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
    background-color: F1F1F1;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #38604B;
    font-family: InterVariable, sans-serif;
    font-size: 800%;
    font-weight: 500;
    text-align: center;
    margin-bottom: 24px;
}

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 136%; 
    letter-spacing: -0.3px;
}

.nav-activeitem{
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #38604B;
    border: 2px solid #38604B;
    color: var(--White, #FFF);
    text-decoration: none;
}
body{
    font-family: InterVariable, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #38604B;
    font-family: InterVariable, sans-serif;
    font-size: 800%;
    font-weight: 500;
    text-align: center;
    margin-bottom: 24px;
}

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 136%; 
    letter-spacing: -0.3px;
}

.nav-activeitem{
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #38604B;
    border: 2px solid #38604B;
    color: var(--White, #FFF);
    text-decoration: none;
}
body{
    font-family: InterVariable, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #38604B;
    font-family: InterVariable, sans-serif;
    font-size: 800%;
    font-weight: 500;
    text-align: center;
    margin-bottom: 24px;
}

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 136%; 
    letter-spacing: -0.3px;
}

.nav-activeitem{
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #38604B;
    border: 2px solid #38604B;
    color: var(--White, #FFF);
    text-decoration: none;
}

.nav-item{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 2px solid #898989;
    color: #898989;
    text-decoration: none;
    transition: all 0.4s ease;
}

.nav-item:hover{
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 2px solid #38604B;
    color: #38604B;
    text-decoration: none;
}


h2{
    color: #000;
    font-family: InterVariable, sans-serif;
    font-size: 170%;
    font-style: normal;
    font-weight: 550;
}

p{
    align-self: stretch;
    color: #000;
    font-family: InterVariable, sans-serif;
    font-size: 150%;
    font-style: normal;
    font-weight: 200;
}

.container {
    width: 100%;
    position: relative;
    margin-left: 70%;
    margin-top: 9%;
}

.homeimg {
    width: 30%;
    height: auto;  
    transition: all 0.7s ease;
}

.container:hover .homeimg {
    width: 40%;
    margin-left: -31%;
}

.info {
    position: absolute;
    top: 30%;
    left: 12%; 
    opacity: 0;
    pointer-events: none;
    width: 40%;
    transition: opacity 0.2s ease 0.3s, transform 0.4s ease 0.4s;
}

.container:hover .info {
    opacity: 1;
    pointer-events: auto;
}

.container:not(:hover) .info {
    transition-delay: 0s;
}

.see-more{
    width: 120px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 2px solid #898989;
    color: #898989;
    text-decoration: none;
    transition: all 0.4s ease;
}

.see-more:hover{
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #38604B;
    border: 2px solid #38604B;
    color: var(--White, #FFF);
    text-decoration: none;
}

.foot{
    color: rgba(0, 0, 0, 0.30);
    font-family: InterVariable, sans-serif;
    font-size: 1270%;
    font-style: normal;
    font-weight: 500;
    line-height: 50%;
}

.foot-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.foot-text{
    color: #898989;
    font-family: InterVariable, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
    letter-spacing: -0.3px;
    padding-left: 1%;
    padding-right: 1%;
}

.buttons{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    align-self: stretch;
}