.projeto {
    width: 400px;
    height: 440px;
    transition: all 0.7s ease;
}

.projeto2 {
    margin-top: 128px;
    width: 600px;
    height: 440px;
}

.homeimg {
    width: 30%;
    height: auto;  
    transition: all 0.7s ease;
}

.container:hover .projeto {
    margin-left: -25%;
}

.projectinfo {
    position: absolute;
    top: 20%;
    left: 12%; 
    opacity: 0;
    pointer-events: none;
    width: 40%;
    transition: opacity 0.2s ease 0.3s, transform 0.4s ease 0.4s;
}

.container:hover .projectinfo {
    opacity: 1;
    pointer-events: auto;
}

.container:not(:hover) .projectinfo {
    transition-delay: 0s;
}

.game{
    width: 600px;
    justify-content: center;
}
